{% extends "admin/layout_admin.html" %}

{% block admin_content %}

<h1>ADMIN DASHBOARD</h1>

<div class="dashboard-cards">

  <div class="card"><h3>Total Users</h3><p>{{ stats.total_users }}</p></div>
  <div class="card"><h3>Total Shops</h3><p>{{ stats.total_shops }}</p></div>
  <div class="card"><h3>Total Products</h3><p>{{ stats.total_products }}</p></div>
  <div class="card"><h3>Total Orders</h3><p>{{ stats.total_orders }}</p></div>
  <div class="card"><h3>Flash Sale Running</h3><p>{{ stats.running_flash_sales }}</p></div>

</div>

{% endblock %}