{% extends "layouts/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}

<div class="admin-layout">


  <aside class="admin-sidebar">
    <h2>OneShop Admin Panel</h2>
    <ul>
      <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
      <li><a href="{{ url_for('admin.users') }}">Users</a></li>
      <li><a href="{{ url_for('admin.shops') }}">Shops</a></li>
      <li><a href="{{ url_for('admin.products') }}">Products</a></li>
      <li><a href="{{ url_for('admin.flash_sales') }}">Flash Sale</a></li>
      <li><a href="{{ url_for('admin.audit_logs') }}">Audit Logs</a></li>
      <li>
        <form action="{{ url_for('auth.logout') }}" method="post" onsubmit="return confirm('Bạn có chắc muốn đăng xuất?');">
          <button type="submit" class="link-btn">Logout</button>
        </form>
      </li>
    </ul>
  </aside>

  <div class="admin-content">
    {% block admin_content %}{% endblock %}
  </div>

</div>

{% endblock %}